<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputScript library="=jquery-3.3.1" name="jquery.3.3.1.js"/>
        <h:outputScript name="css/Prison.css"/>
    </h:head>
    <h:body>
        <h1>Confirm</h1>
        <ui:composition template="WEB-INF/templates/template.xhtml">
            <ui:define name="pageTitle">Prison</ui:define>
            <ui:define name="title">Choose CellBlock</ui:define>
           <ui:define name="pageContent">
                <b:row style="height:50%; margin-top: 2%">
                    <b:column col-lg="6" styleClass="text-center">
                        <h:form>
                            <b:panelGrid columns="4" size="lg">
                                <h:panelGroup styleClass="form-group col-3">
                                    <ui:repeat value="#{cellBlockController.cellsB.subList(0, 15)}" var="cell">
                                        <b:commandButton value="#{cell.cellNr}" style="width:100%; #{cellBlockController.createStyle(cell)}">
                                            <f:ajax
                                                event="click"
                                                listener="#{cellBlockController.setCurrentCell(cell)}"
                                                render="cellinfo prisonerinfo add"> 
                                            </f:ajax>
                                        </b:commandButton>
                                    </ui:repeat>
                                </h:panelGroup>
                                <h:panelGroup styleClass="form-group col-3">
                                    <ui:repeat value="#{cellBlockController.cellsB.subList(15, 30)}" var="cell">
                                        <b:commandButton value="#{cell.cellNr}" style="width:100%; #{cellBlockController.createStyle(cell)}">
                                        <f:ajax
                                                event="click"
                                                listener="#{cellBlockController.setCurrentCell(cell)}"
                                                render="cellinfo prisonerinfo add"> 
                                            </f:ajax>
                                        </b:commandButton>
                                    </ui:repeat>
                                </h:panelGroup>
                                <h:panelGroup styleClass="form-group col-3">
                                    <ui:repeat value="#{cellBlockController.cellsB.subList(30, 45)}" var="cell">
                                        <b:commandButton value="#{cell.cellNr}" style="width:100%; #{cellBlockController.createStyle(cell)}">
                                            <f:ajax
                                                event="click"
                                                listener="#{cellBlockController.setCurrentCell(cell)}"
                                                render="cellinfo prisonerinfo add"> 
                                            </f:ajax>
                                        </b:commandButton>
                                    </ui:repeat>
                                </h:panelGroup>
                                <h:panelGroup styleClass="form-group col-3">
                                    <ui:repeat value="#{cellBlockController.cellsB.subList(45, 60)}" var="cell">
                                        <b:commandButton value="#{cell.cellNr}" style="width:100%; #{cellBlockController.createStyle(cell)}">
                                            <f:ajax
                                                event="click"
                                                listener="#{cellBlockController.setCurrentCell(cell)}"
                                                render="cellinfo prisonerinfo add"> 
                                            </f:ajax>
                                        </b:commandButton>
                                    </ui:repeat>
                                </h:panelGroup>
                            </b:panelGrid>
                        </h:form>
                    </b:column>
                   <b:column col-lg="6" styleClass="text-center">
                        <h1 style="line-height: 50px; font-size: 20px;">
                            <h:form  id="cellinfo">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Cell</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Isolation Cell</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><h:outputText value="#{cellBlockController.currentCell.cellNr}"/></td>
                                            <td><h:outputText value="#{cellBlockController.currentCell.size}"/></td>
                                            <td><h:outputText value="#{cellBlockController.currentCell.isolationCell}"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </h:form>                                             
                        </h1>                                        
                    </b:column>
                    <b:column col-lg="6" styleClass="text-center">
                        <h1 style="line-height: 50px; font-size: 20px;">
                            <h:form id="prisonerinfo"> 
                                <table class="table table-bordered">
                                    <thead >
                                        <tr>
                                            <th scope="col">Prisoner</th>
                                            <th scope="col">Crime</th>
                                            <th scope="col">Cell</th>
                                            <th scope="col">ReleaseDate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><h:outputText value="#{cellBlockController.currentPrisoner.name}"/></td>
                                            <td>
                                                <h:outputText value="#{cellBlockController.currentPrisoner.crimes.get(0).name}"/>
                                            </td>
                                            <td><h:outputText value="#{cellBlockController.currentPrisoner.cell.cellNr}"/></td>
                                            <td><h:outputText value="#{cellBlockController.currentPrisoner.releaseDate}"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </h:form>                                             
                        </h1>
                    </b:column>
                    <b:column col-lg="6" styleClass="text-center">
                        <h1 style="font-size: 15px;">
                            <h:form id="add">
                                <table class="table table-bordered">
                                    <tr>
                                        <td align="center" style="line-height: 40px;">Name</td>
                                        <td>    
                                            <h:inputText styleClass="form-control" value="#{cellBlockController.prisonerName}"></h:inputText>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="line-height: 40px;">Crime</td>
                                        <td>
                                            <b:selectOneMenu value="#{cellBlockController.currentCrimeName}">
                                                <f:selectItems value="#{cellBlockController.crimeNames}"/>
                                            </b:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="line-height: 40px;">Cell</td>
                                        <td><h:inputText styleClass="form-control" value="#{cellBlockController.currentCell.cellNr}" disabled="true"/></td>
                                    </tr>
                                </table>
                                <b:commandButton style="width: 100%" value="Add Prisoner" styleClass="btn-primary">
                                    <f:ajax
                                        execute="@form"
                                        listener="#{cellBlockController.showPrisonerInfo(cellBlockController.prisonerName, cellBlockController.currentCell.cellNr, cellBlockController.currentCrimeName)}"
                                        render="prisonerinfo"> 
                                    </f:ajax>
                                </b:commandButton>
                                <b:commandButton style="width: 100%" value="Delete Prisoner" styleClass="btn-warning">
                                    <f:ajax
                                        execute="@form"
                                        listener="#{cellBlockController.deletePrisonerInfo()}"
                                        render="prisonerinfo"> 
                                    </f:ajax>
                                </b:commandButton>
                            </h:form>
                        </h1>                                      
                    </b:column>
                </b:row>
            </ui:define>
        </ui:composition>
    </h:body>
</html>